<!doctype.html>
<html lang="en" ng-app="ToDo">
<head>
  <meta charset="UTF-8">
  <title>history</title>
  <style>
  .done{text-decoration: line-through; color: #ccc;}
  </style>
</head>
<body>

  <div class='history_main'>
   <h4> Today's Date:  {{date | date:'yyyy-MM-dd'}} <h4>
    <ul style='list-style: none;'>
        <span> Task Description </span>
        <span> Priority </span>
        <span> Created on </span>
    <li ng-repeat='todo in todos' ng-show='getHistory(todo)'>
        <input type='checkbox' ng-model='todo.done' ng-change="todos.$save(todo)"/>
        <span class="{'done' :todo.done}">{{todo.title}}</span>
        <span>{{todo.priority}}</span>
        <span>{{todo.created | date : 'shortDate'}}</span>
      </li>
    </ul>
    <button ng-click="clearCompleted()">Clear tasks</button>
  </div>

</body>
</html>
