<!doctype.html>
<html lang="en" ng-app="ToDo">
<head>
  <meta charset="UTF-8">
  <title>todo</title>
  <style>
  .done{text-decoration: line-through;color: #ccc;}
  </style>
</head>
<body>

  <div class='todo_main'>
    <form name="frm" ng-submit="addTodo()">
      <input type='text' name'newtodo' ng-model='newtodo' required />
      <button>Add ToDo</button>
    </form>
    <button ng-click="clearCompleted()">Clear finished tasks</button>
    <ul>
      <li ng-repeat='todo in todos'>
        <input type='checkbox' ng-model='todo.done'/>
        <span ng-class="{'done':todo.done}">{{todo.title}}</span>
      </li>
    </ul>
  </div>

</body>
</html>
