<!doctype.html>
<html lang="en" ng-app="ToDo">
<head>
  <meta charset="UTF-8">
  <title>todo</title>
  <style>
  .done{text-decoration: line-through;color: #ccc;}
  </style>
</head>
<body>

  <div class='todo_main'>
    <h4> Today's Date:  {{date | date:'yyyy-MM-dd'}} <h4>
     <form name="frm" ng-submit="addTodo()">
      <input type='text' name'newtodo' ng-model='newtodo' required />
      <button>Add ToDo</button>
    </form>
    <button ng-click="clearCompleted()">Clear finished tasks</button>
    <ul style='list-style: none;'>
      <li ng-repeat='todo in todos' ng-hide='dateFilter(todo)'>
        <input type='checkbox' ng-model='todo.done'/>
        <span>{{todo.title}}</span>
        <span>{{todo.created | date : 'shortDate'}}</span>
      </li>
    </ul>
  </div>

</body>
</html>
