<!doctype.html>
<html lang="en" ng-app="ToDo">
<head>
  <meta charset="UTF-8">
  <title>todo</title>
  <style>
  .done{text-decoration: line-through;color: #ccc;}
  </style>
</head>
<body>

  <div class='todo_main'>
    <h4> Today's Date:  {{date | date:'yyyy-MM-dd'}} <h4>
     <form name="frm" ng-submit="addTodo()">
      <input type='text' name'newtodo' ng-model='newtodo' required />
        <select ng-model='priority' required>
          <option value='' disabled selected hidden>Priority</option>
          <option value='Low'>Low</option>
          <option value='Medium'>Medium</option>
          <option value='High'>High</option>
        </select>
      <button>Add ToDo</button>
      </form>

    <!-- <button ng-click="clearCompleted()">Clear finished tasks</button> -->

    <ul style='list-style: none;'>
        <span> Task Description </span>
        <span> Priority </span>
        <span> Created on </span>
    <li ng-repeat='todo in todos' ng-hide='getHistory(todo)'>
        <input type='checkbox' ng-model='todo.done' ng-change="todos.$save(todo)"/>
        <span>{{todo.title}}</span>
        <span>{{todo.priority}}</span>
        <span>{{todo.created | date : 'shortDate'}}</span>

      </li>
    </ul>
  </div>

</body>
</html>
